<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Выполнение чертежей в AutoCAD</title>
  <meta http-equiv="Content-Language" content="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <meta name="keywords" content="Чертежи в AutoCAD dwg">
  <meta name="description" content="Чертежи в Автокад, начертить в AutoCAD, дипломы, курсовые">
  <meta name="REVISIT-AFTER" CONTENT="5 days">
  <!--link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css"-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34242765-2']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>

<% if @section && @section.id == Section.main.id %>
<div style="position:absolute;left:0px;top:0px;width:100%;display:none;z-index:1">
Чертёжные работы в Автокад, черчение по ГОСТ в Autocad, черчение на компьютере в акаде, 
нарисовать чертеж, начертить чертеж, перечертить, вычерчивание на компьютере, сделать чертеж, 
оцифровать чертеж, перенос чертежей с бумаги на компьютер, перечерчивание, проектирование, 
черчение с эскизов, перенесение чертежей, цифровой формат.
</div>
<% end %>

<div class="btn-group"></div>
<div class="container">
    <div class="row" style="margin-bottom: 15px;">
        <div class="span8">
            <a href="/">
                <img style="" src="/assets/logo.png" height="66" width="308">
            </a>
        </div>
        <div class="span4"><%= I18n.t('phone') %>
            <br>
            <a href="<%= I18n.t('email_url') %>"><%= I18n.t('email') %></a>
        </div>
    </div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <div class="navbar-content">
                    <ul class="nav">
                        <% Section.all.each do |section| %>
                            <%= content_tag :li, :class => (@section && section == @section ? 'active' : nil) do %>
                                <%= link_to section.title, (section.main? ? '/' : section) %>
                            <% end %>
                        <% end %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <% unless notice.blank? %>
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert">×</a>
            <span><%= notice %></span>
        </div>
    <% end %>

    <% unless alert.blank? %>
        <div class="alert alert-danger">
            <a class="close" data-dismiss="alert">×</a>
            <span><%= alert %></span>
        </div>
    <% end %>

    <div class="page">
        <%= yield %>
    </div>


    <div class="well">
        <br>
        <div class="row">
            <div class="span8"><%= I18n.t('copyright') %></div>
            <div class="span3"><%= I18n.t('phone') %>
                <br>
                <a href="<%= I18n.t('email_url') %>"><%= I18n.t('email') %></a>
                <br>
            </div>
        </div>
    </div>
</div>
</body>
</html>
